<h1>Comencemos</h1>
<h2> Que deseas hacer?</h2>
    <div>
    <p> Agregar Nuevo:</p>
    <%= link_to 'Edificio' , edificios_path %>
    <br>
    <%= link_to 'Departamento' , departamentos_path %>
    </div>